@media only screen and (max-device-width: 560px) {
	body {
       	font-family: 'Calibri', sans-serif;
        font-size: 15pt;
		margin-left: 5%;
		margin-right: 5%;
	}
	div#footer {
		font-size: 30pt;
	}
	div#header {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 20px;
		margin-top: 50px;
		margin-bottom: 50px;
		font-size: 30pt;
	}
	h1 {
		font-size: 40pt;
		margin-bottom: -1px;
	}
	img#photo-circle {
		width: 190px;
	}
	p {
		margin-bottom: 30px;
	}
}

@media only screen and (min-device-width: 560px) and (max-device-width: 1000px){
	body {
       	font-family: 'Calibri', sans-serif;
        font-size: 17px;
		margin-left: 10%;
		margin-right: 10%;
	}
	div#header {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 20px;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	h1 {
		font-size: 20pt;
		margin-bottom: -1px;
	}
	img#photo-circle {
		width: 110px;
	}
}

@media only screen and (min-device-width: 1001px) {
	body {
       	font-family: 'Calibri', sans-serif;
        font-size: 17px;
		margin-left: 22%;
		margin-right: 22%;
	}
	div#header {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 20px;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	h1 {
		font-size: 20pt;
		margin-bottom: -1px;
	}
	img#photo-circle {
		width: 110px;
	}
}

a {
	color: #a827d5;
	text-decoration: none;
}
a:hover {
	color: #ff0062;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
div.semester {
	position: relative;
	left: 30px;
}
div.subject {
	position: relative;
	left: 30px;
}
li {
	margin-bottom: 3pt;
}
ul {
	margin-bottom: 12pt;
}