@media only screen and (max-device-width: 560px) {
  body {
    font-size: 15pt;
    margin-left: 5%;
    margin-right: 5%;
  }
  div#header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1em;
  }
  div.project-header-container {
    height: 52px;
    font-size: 1em;
  }
  footer {
    font-size: 1em;
  }
  img#photo-circle {
    width: 125px;
  }
  img.main-body {
    width: 100%;
  }
  hr {
    width: 40%;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 30px;
  }
  main {
    min-height: calc(85vh - 4rem);
  }
}

@media only screen and (min-device-width: 560px) and (max-device-width: 1200px) {
  body {
    font-size: 17px;
    margin-left: 10%;
    margin-right: 10%;
  }
  div#header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  div.project-header-container {
    height: 21px;
  }
  img#photo-circle {
    width: 110px;
  }
  img.main-body {
    width: 600px;
  }
  main {
    min-height: calc(87vh - 4rem);
  }
}

@media only screen and (min-device-width: 1201px) {
  body {
    font-size: 17px;
    margin-left: 20%;
    margin-right: 20%;
  }
  div#header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  div.project-header-container {
    height: 21px;
  }
  img#photo-circle {
    width: 115px;
  }
  img.main-body {
    width: 600px;
  }
  main {
    min-height: calc(80vh - 4rem);
  }
}

img#photo-circle {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
}

a {
  color: #7ac2fc;
  text-decoration: none;
}
a:hover {
  color: #ff0062;
}
a.navlink {
  color: #d0e974e8;
}
a.navlink:visited {
  color: #9db250;
}
a.project-url {
  text-decoration: underline;
}
a:visited {
  color: #5796ca;
}
a:visited:hover {
  color: #ff0062;
}
b {
  color: #ffffff;
}
body {
  font-family: "Sarabun", sans-serif;
  font-size: 12pt;
  font-style: normal;
  color: rgb(195, 195, 195);
  background-color: rgb(30, 30, 30);
}
center.caption {
  font-size: 11pt;
  font-style: italic;
  margin-top: 5px;
}
code {
  border: 1px solid rgb(100, 100, 100);
  border-radius: 3px;
  font-family: "Inconsolata", "Monaco", Courier, monospace;
  padding: 1px 5px;
}
div#navpanel {
  margin-top: 30px;
  margin-bottom: 40px;
}
div.project {
  margin-bottom: 50px;
}
div.project-header-container {
  display: inline-block;
  width: 100%;
}
footer {
  margin-top: 50px;
  margin-bottom: 20px;
}
h2 {
  color: #ffffff;
}
h2.project {
  margin-top: 0px;
  margin-bottom: 0px;
}
h3 {
  color: #ffffff;
}
i {
  margin-right: 5px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.main-body {
  margin-top: 20px;
}
img.pictogram {
  height: 100%;
}
ul > li::marker {
  content: "✦   ";
  font-size: 10pt;
}
ul > li.inside::marker {
  content: "✧   ";
  font-size: 10pt;
}
li {
  margin-bottom: 3pt;
  margin-left: -5pt;
}
p.publication {
  margin-top: -15px;
}
